## Working with Python Variables

Structure of creating a variable
[variable_name] [assignment operator] [value]
myVar = "blah"

### What are the data types in Python
1. Strings - anything inside of " " or ' '
2. Booleans - True/False
3. Integers - whole numbers, even or odd
4. Floats - any numbver with a decimal

In [1]:
# Variable Reassignment

# A student's GPA throughout high school
student_gpa = 3.2 # Freshman Year

student_gpa = 3.4 # Sophmore Year

student_gpa = 3.7 # Junior Year

student_gpa = 3.9 # Senior Year
print(student_gpa)

# OUTPUT: 3.9

# If you need to store all data 
student_gpa_fr = 3.2 # Freshman Year

student_gpa_so = 3.4 # Sophmore Year

student_gpa_ju = 3.7 # Junior Year

student_gpa_se = 3.9 # Senior Year

overall_gpa = (student_gpa_fr + student_gpa_so + student_gpa_ju + student_gpa_se) / 4
print(overall_gpa)

# OUTPUT 3.55

3.9
3.5500000000000003

In [2]:
# Sports Team Statistics

# Basketball team variables
team_name = "Riverside Ravens"
wins = 18
losses = 7
points_scored = 1456
points_allowed = 1298
leading_scorer = "Jordan Thompson"
average_points_per_game = 58.2
championship_contender = True

print(championship_contender)

True

In [3]:
# The input function

first_name = input("Enter your first name: ")

print(first_name)

## 4 Main Computational Process

- Input
- Processing
- Output
- Storage (Memory)

### Strings, Assingments, and 

# Literals
<table>
    <tr> 
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr> 
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr> 
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr> 
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

In [4]:
hello = 'Hello there!'
myInt = 675
print(hello) # Literal is: Hello there!
print(myInt) # Literal is: 675

Hello there!
675

## Escape Sequences

**Escape Sequence** - The way Python expresses special characters such as tav, the newline, and the backspace as Literals.

<table>
    <tr>
        <th>Escape Sequence</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizontal Tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ Character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>
</table>

## Initializing a Variable or Constant

**Innitializing** - This is the process of creating a variable and setting it to a default value

## Formatting Text for Output

- This process is for presenting required output in tabular format.
- **Field Width** - The total number of data characters and additional spaces for a given datum in a formatted string
- **%** - format operator
- **%6** - string with a field width of 6

In [5]:
for exponent in range(7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [6]:
print("four")
print("%6s" % "four") # % = fotmat operator Right Justify
print("%-6s" % "four") # Left Justify

four
  four
four

### Each of these Iterations uses a different type of loop

## Define Iteration
Repeating an action or process a predefined number of times. Also know as a specific type of iteration.**Definite Iteration** --> for loop
Perform an action or process until the program determines that it needs to stop. **Indefinite Iteration** --> while loop

In [7]:
for eachPass in range(4):
    print("It's alive!", end = " ")

It's alive! It's alive! It's alive! It's alive!

## The stu=ructure of a for Loop
for (variable) in range(an inteer expression):
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat any number of statements

**loop header** - the line that starts with 'for'
**loop body** - comprises the statements in the remaining lines of code, below the header

# Python exponation operator

In [8]:
# Exponent Example

number = 2
exponent = 3
product = 1

print("\n The variable product is currently: ", product)

for eachPass in range(exponent):
    product = product * number
    print(product, end = " ")

print("\n The variable product is now: ", product)

 The variable product is currently:  1
2 4 8
 The variable product is now:  8

## Count-controllled Loops

**Count-Controlled Loops** - loops that count through a range of numbers

In [9]:
for count in range(4):
    print(count, end=" ")

0 1 2 3

In [10]:
product = 1 # Initializing a counter

for count in range(4):
    product = product * (count + 1) # off by one error
    print(product, end=" ")

print(product)

1 2 6 24 24

## Loop through a range of numbers:

In [11]:
product = 1
for count in range(1, 5):   # (1, 5) - start on 1, 1 is the first number in the sequence
                                    # 5 is the first numebr NOT in the sequence
    product = product * count
    print(product, end=" ")

print("\n\n", product)

1 2 6 24

 24

### Loop Head Structure with lower and upper bounds
for (variable) in range (lower bound, upper bound + 1)

In [12]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0 # Notice, we created theSum, because sum is a python keyword

for number in range (lower, upper + 1):
    theSum = theSum + number

print(theSum)

ValueError: invalid literal for int() with base 10: 'markdown'

## Augmented Assignment

**Augmented Assingment** - when the assignment symbol can be combined with the arithmetic and concatination operators.

Structure:
(variable) (operator)= (expression)

In [ ]:
a = 17
s = "hi"

a += 3      # equivelent to a = a + 3
print(a)

a *= 3      # equivelent to a = a * 3
print(a)

a %= 3      # equivelent to a = a % 3
print(a)

20
60
0

In [ ]:
s += " there!"  # equivelent to s = s + " there!"
print(s)

hi there!

## Loop Errors: Off-by-One Error

**Off-by-One Error** - these are errors that result when programmer incorrectly specifies the upper bound for a loop.

In [ ]:
# Count from 1 through 4, we think
for count in range (1, 5):
    print(count)

1
2
3
4

## Traversing the Contents of a Data Sequence

In [ ]:
print(list(range(4)))
print(list(range(1,5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [ ]:
# Use something other than the range function in the loop head
for number in [6, 4, 8]:
    print(number, end=" ")

6 4 8

In [ ]:
for character in "Hi, there!":
    print(character, end=" ")

H i ,   t h e r e !

## Specifying the Steps in the Range

Another variant of the Python range() function, allows us to enter 3 values as arguments

range(val1, val2, val3)
val1 - Is the first value in the range, starting value.
val2 - The first value not in the range, (val2 - 1)
val3 - The Step Value - is the interval between the numbers used in the range

In [ ]:
print(list(range(1, 6, 1))) # [1, 2, 3, 4, 5]
print(list(range(1, 6, 2))) # [1, 3, 5]
print(list(range(1, 6, 3))) # [1, 4]

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]

In [ ]:
# Let's suppose we want to compute a sum of the even numbers between 1 and 10.
theSum = 0
for count in range(2, 11, 2):
    theSum += count 

print(theSum)

30

## Loops That Count Down

* Unitl now we have been counting up based on what power range is.

In [ ]:
for count in range(10, 0, -1):
    print(count, end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Back to Formatting Text for Output

In [ ]:
for exponent in range(7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

### Format String & Format Operator

In [ ]:
# <format string> % <datum>

for exponent in range (7, 11):
    print("%-3d%12d" % (exponent, 10 ** exponent))
    # %-3d = first column in the data output - go -3 spaces back from where the first and second column meet, the field will justify left
    # %12d = second column in the data output will be 12 characters wide (theFieldWidth), everything in the field will justify right

7      10000000
8     100000000
9    1000000000
10  10000000000

In [ ]:
salary = 100.00
print("Your salary is $" + str(salary))
print("Your salary is $ %0.2f" % salary)

Your salary is $100.0
Your salary is $ 100.00

In [ ]:
print("%6.3f" % 3.14)
# 6 total digits, with 3 digits after the decimal

 3.140

## Python if-else statements

if and if-else statements are "Branching" statements. They allow Python to examine or test a condition. Based on the results of that test, your code translation will branch in one direction or another. Analogy: Think of a Fork in the Road. You can go left or right.

It is also known as a "Selection" statement.

### How does Python test a conditional?

Python uses Booleans to test conditions.
If 2 + 3 == 5:
    run some code...
else:
    runs some other code...

Python will use simple Comparison Operators to do this:

- == # Equals
- != # Not Equals
- <  # Less Than
- \>  # Greater than
- <= # Less than or Equal
- \>= # Greater than or equal

In [16]:
print(4 == 4)
print(4 == 7)
print(4 != 4)
print(4 < 5)
print(4 >= 3)
print("A" < "B")

True
False
False
True
True
True

In [18]:
# Python if-else Statment Example
import math
area = float(input("Enter the area: "))
if area > 0:        # if condition>:
    radius = math.sqrt(area / math.pi)  # run a sequence of <statements>
    print("The radius is: ", radius)    
else:   # OTHERWISE
    print("Error: Area must be a positive number.") # run THIS sequence of <statements>

The radius is:  2.5231325220201604

In [19]:
# This example prints the maximum and minimum of two input numbers
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))

if first > second:
    maximum = first
    minimum = second
else:
    maximum = second
    minimum = first

print("Maximum is: ", maximum)
print("Minimum is: ", minimum)

Maximum is:  53
Minimum is:  24

## Python min and max functions

In [21]:
# min() and max() will eliminate the need for if-else
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))
print("Maximum: ", max(first, second))
print("Minimum: ", min(first, second))

Maximum:  67
Minimum:  17

## One-way Selection Statement

In [22]:
x = 25
if x < 0:
    x = -x

print(x)

25

## Multi-Way if Statements

In [23]:
number = int(input("Enter the numeric grade: "))
if number > 89:
    letter = 'A'
elif number > 79:
    letter = 'B'
elif number > 69:
    letter = 'C'
else:
    letter = "F"

print("The letter grade is: ", letter)

The letter grade is:  C

## Logical Operators and Compound Boolean Expresssions

OFten times in the course of a Python script interpretation, we may have to check to see if 2 or more conditional statements are true before running a sequence of code.

In [25]:
number = int(input("Enter the numberic grade: "))
if number > 100:
    print("ERROR: grade must be between 100 and 0.")
elif number < 0:
    print("ERROR: grade must be between 100 and 0.")
else:
    print("Follow these instructions!")
    # Run the same code as the example above

ERROR: grade must be between 100 and 0.

### Compound Boolean Expression

Testing multiple conditions at the same time

To do this we use **Logical Operators**
- and
- or 
- not

In [28]:
number = int(input("Enter the numberic grade: "))
if number > 100 or number < 0: # Using the or logic operator
    print("Error")
else: 
    print("The code from above.")

if number <= 0 and number >= 100:
    print("Error")
else: 
    print("The code from above.")

The code from above.
The code from above.

## Truth Tables

<table>
    <tr>
        <th>
            A
        </th>
        <th>
            B
        </th>
        <th>
            A and B
        </th>
    </tr>
    <tr>
        <td>
            true
        </td>
        <td>
            true
        </td>
        <td>
            false
        </td>
        <td>
            false
        </td>
    </tr>
    <tr>
        <td>
            true
        </td>
        <td>
            false
        </td>
        <td>
            true
        </td>
        <td>
            false
        </td>
    </tr>
</table>
<br>
<h2>or Table</h2> 
<table>
    <tr>
        <th>
            A
        </th>
        <th>
            B
        </th>
        <th>
            A or B
        </th>
    </tr>
    <tr>
        <td>
            true
        </td>
        <td>
            false
        </td>
        <td>
            false
        </td>
    </tr>
    <tr>
        <td>
            false
        </td>
        <td>
            true
        </td>
        <td>
            true
        </td>
    </tr>
    <tr>
        <td>
        false
        </td>
        <td>
        false
        </td>
        <td>
        false
        </td>
    </tr>
</table>

<h2>not Table</h2>
<table>
    <tr>
        <th>A</th>
        <th>not A</th>
    </tr>
    <tr>
        <td>true</td>
        <td>false</td>
    </tr>
    <tr>
        <td>false</td>
        <td>true</td>
    </tr>
</table>

## Short-Circuit Evaluation

Python sometimes knows the value of Boolean expression before it has evaluated all of the operands. For instance, in the expression A and B, if A is false, then so is the expression, and there is no need to evaluate B.

In [29]:
count = int(input("Enter the count: "))
theSum = int(input("Enter the sum: "))
if count > 0 and theSum // count > 10:
    print("Average > 10")
else:
    print("Count = 0 or average <= 10")

Count = 0 or average <= 10