## Working with Python Variables

Structure of creating a variable
[variable_name] [assignment operator] [value]
myVar = "blah"

### What are the data types in Python
1. Strings - anything inside of " " or ' '
2. Booleans - True/False
3. Integers - whole numbers, even or odd
4. Floats - any numbver with a decimal

In [ ]:
# Variable Reassignment

# A student's GPA throughout high school
student_gpa = 3.2 # Freshman Year

student_gpa = 3.4 # Sophmore Year

student_gpa = 3.7 # Junior Year

student_gpa = 3.9 # Senior Year
print(student_gpa)

# OUTPUT: 3.9

# If you need to store all data 
student_gpa_fr = 3.2 # Freshman Year

student_gpa_so = 3.4 # Sophmore Year

student_gpa_ju = 3.7 # Junior Year

student_gpa_se = 3.9 # Senior Year

overall_gpa = (student_gpa_fr + student_gpa_so + student_gpa_ju + student_gpa_se) / 4
print(overall_gpa)

# OUTPUT 3.55

3.9
3.5500000000000003

In [3]:
# Sports Team Statistics

# Basketball team variables
team_name = "Riverside Ravens"
wins = 18
losses = 7
points_scored = 1456
points_allowed = 1298
leading_scorer = "Jordan Thompson"
average_points_per_game = 58.2
championship_contender = True

print(championship_contender)

True

In [2]:
# The input function

first_name = input("Enter your first name: ")

print(first_name)

Elijah

## 4 Main Computational Process

- Input
- Processing
- Output
- Storage (Memory)

### Strings, Assingments, and 

# Literals
<table>
    <tr> 
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr> 
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr> 
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr> 
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

In [1]:
hello = 'Hello there!'
myInt = 675
print(hello) # Literal is: Hello there!
print(myInt) # Literal is: 675

Hello there!
675

## Escape Sequences

**Escape Sequence** - The way Python expresses special characters such as tav, the newline, and the backspace as Literals.

<table>
    <tr>
        <th>Escape Sequence</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizontal Tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ Character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>
</table>

## Initializing a Variable or Constant

**Innitializing** - This is the process of creating a variable and setting it to a default value

## Formatting Text for Output

- This process is for presenting required output in tabular format.
- **Field Width** - The total number of data characters and additional spaces for a given datum in a formatted string
- **%** - format operator
- **%6** - string with a field width of 6

In [1]:
for exponent in range(7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [6]:
print("four")
print("%6s" % "four") # % = fotmat operator Right Justify
print("%-6s" % "four") # Left Justify

four
  four
four